@(title: String)
@main(title) {

  <iframe width="560" height="315" src="https://www.youtube.com/watch?v=GE2BkLqMef4" id="FalloutTrailer" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <!-- Codes by HTMLcodes.ws -->
  <header class="jumbotron my-4"id="desbox">
    <h1 class="display-3">Fallout4Page Our Price £31.99 RTP £45.99</h1>
    <p class="lead">ABOUT THIS GAME
      Bethesda Game Studios, the award-winning creators of Fallout 3 and The Elder Scrolls V: Skyrim, welcome you to the world of Fallout 4 – their most ambitious game ever, and the next generation of open-world gaming.

      As the sole survivor of Vault 111, you enter a world destroyed by nuclear war. Every second is a fight for survival, and every choice is yours. Only you can rebuild and determine the fate of the Wasteland. Welcome home.
      Key Features:
      Freedom and Liberty!
      Do whatever you want in a massive open world with hundreds of locations, characters, and quests. Join multiple factions vying for power or go it alone, the choices are all yours.

      You’re S.P.E.C.I.A.L!
      Be whoever you want with the S.P.E.C.I.A.L. character system. From a Power Armored soldier to the charismatic smooth talker, you can choose from hundreds of Perks and develop your own playstyle.

      Super Deluxe Pixels!
      An all-new next generation graphics and lighting engine brings to life the world of Fallout like never before. From the blasted forests of the Commonwealth to the ruins of Boston, every location is packed with dynamic detail.

      Violence and V.A.T.S.!
      Intense first or third person combat can also be slowed down with the new dynamic Vault-Tec Assisted Targeting System (V.A.T.S) that lets you choose your attacks and enjoy cinematic carnage.

      Collect and Build!
      Collect, upgrade, and build thousands of items in the most advanced crafting system ever. Weapons, armor, chemicals, and food are just the beginning - you can even build and manage entire settlements.
    </p>
    <a href="#" class="btn btn-primary btn-lg">Purchase!</a>
    <a href="#" class="btn btn-primary btn-lg">Reviews!</a>
    <a href="#" class="btn btn-primary btn-lg">Write Review!</a>
  </header>
  <header class="jumbotron my-4" id="techboc" id>
    <h1 class="display-3">SYSTEM REQUIREMENTS</h1>
    <p class="lead" >

      MINIMUM:<br>
      Requires a 64-bit processor and operating system<br>
      OS: Windows 7/8/10 (64-bit OS required)<br>
      Processor: Intel Core i5-2300 2.8 GHz/AMD Phenom II X4 945 3.0 GHz or equivalent<br>
      Memory: 8 GB RAM<br>
      Graphics: NVIDIA GTX 550 Ti 2GB/AMD Radeon HD 7870 2GB or equivalent<br>
      Storage: 30 GB available space<br>
      RECOMMENDED:<br>
      Requires a 64-bit processor and operating system<br>
      OS: Windows 7/8/10 (64-bit OS required)<br>
      Processor: Intel Core i7 4790 3.6 GHz/AMD FX-9590 4.7 GHz or equivalent<br>
      Memory: 8 GB RAM<br>
      Graphics: NVIDIA GTX 780 3GB/AMD Radeon R9 290X 4GB or equivalent<br>
      Storage: 30 GB available space<br>
     </p>

  </header>

}