

@import scala.collection.mutable.ArrayBuffer
@(title: String,gameID: Int)




@main(title) {





    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=K5xERXE7pxI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <!-- Codes by HTMLcodes.ws -->
    <header class="jumbotron my-4"id="desbox">

        <h1 class="display-3"> £39.99 RTP £49.99</h1>
        <p class="lead">

        </p>
        <a href="#" class="btn btn-primary btn-lg">Purchase!</a>
        <a href="#" class="btn btn-primary btn-lg">Reviews!</a>
        <a href="#" class="btn btn-primary btn-lg">Write Review!</a>

    </header>

    <header class="jumbotron my-4" id="techboc" id>
        <h1 class="display-3">SYSTEM REQUIREMENTS</h1>
        <p class="lead" >
           tech specs
               <br>ddffdffd</p>

    </header>



}


