@(title: String)
@main(title) {

  <iframe width="560" height="315" src="https://www.youtube.com/embed/I2iBAPsQRto" id="assasinsTrailer" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <!-- Codes by HTMLcodes.ws -->
  <header class="jumbotron my-4"id="desbox">
    <h1 class="display-3">Assasins Creed Origins Our Price £39.99 RTP £49.99</h1>
    <p class="lead">ABOUT THIS GAME
      ASSASSIN’S CREED® ORIGINS IS A NEW BEGINNING

      Ancient Egypt, a land of majesty and intrigue, is disappearing in a ruthless fight for power. Unveil dark secrets and forgotten myths as you go back to the one founding moment: The Origins of the Assassin’s Brotherhood.

      A COUNTRY TO DISCOVER
      Sail down the Nile, uncover the mysteries of the pyramids or fight your way against dangerous ancient factions and wild beasts as you explore this gigantic and unpredictable land.

      A NEW STORY EVERY TIME YOU PLAY
      Engage into multiple quests and gripping stories as you cross paths with strong and memorable characters, from the wealthiest high-born to the most desperate outcasts.

      EMBRACE ACTION-RPG
      Experience a completely new way to fight. Loot and use dozens of weapons with different characteristics and rarities. Explore deep progression mechanics and challenge your skills against unique and powerful bosses.

      GAZE IN WONDER
      Experience the action in a whole new light with Tobii Eye Tracking. The Extended View feature gives you a broader perspective of the environment, and the Dynamic Light and Sun Effects immerse you in the sandy dunes according to where you set your sights. Tagging, aiming and locking on your targets becomes a lot more natural when you can do it by looking at them. Let your vision lead the way and enhance your gameplay.
      Compatible with all Tobii Eye Tracking gaming devices.
     </p>
    <a href="#" class="btn btn-primary btn-lg">Purchase!</a>
    <a href="#" class="btn btn-primary btn-lg">Reviews!</a>
    <a href="#" class="btn btn-primary btn-lg">Write Review!</a>



  </header>
  <header class="jumbotron my-4" id="techboc" id>
    <h1 class="display-3">SYSTEM REQUIREMENTS</h1>
    <p class="lead" >
      MINIMUM:
      OS: Windows 7 SP1, Windows 8.1, Windows 10 (64-bit versions only) <br>
      Processor: Intel Core i5-2400s  2.5 GHz or AMD FX-6350  3.9 GHz or equivalent <br>
      Memory: 6 GB RAM<br>
      Graphics: NVIDIA GeForce GTX 660 or AMD R9 270 (2048 MB VRAM with Shader Model 5.0 or better)<br>
      DirectX: Version 11<br>
      Storage: 42 GB available space<br>
      Additional Notes: Video Preset: Lowest (720p) <br>

      RECOMMENDED:<br>
      OS: Windows 7 SP1, Windows 8.1, Windows 10 (64-bit versions only)<br>
      Processor: Intel Core i7- 3770  3.5 GHz or AMD FX-8350  4.0 GHz<br>
      Memory: 8 GB RAM<br>
      Graphics: NVIDIA GeForce GTX 760 or AMD R9 280X (3GB VRAM with Shader Model 5.0 or better)<br>
      Storage: 42 GB available space<br>
      Additional Notes: Video Preset: High (1080p)<br></p>

  </header>

}