
@import scala.collection.mutable.ArrayBuffer
@(title: String,cards: ArrayBuffer[GameCard])


@main(title) {

    <!-- Custom styles for this template -->


    <!-- Page Content -->

    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4" id="WeekDeal">
            <div class="weekDeal">

                <div class="card-body" id="MainDeal">
                    <h4 class="card-title"></h4>
                    <p class="card-text"></p>
                </div>
                <a href="#" class="btn btn-primary">Weekly Deal 15% Off Bundle</a>
            </div>
        </div>
    </div>



   @for(card <- cards) {

       <div>

       <div class="@card.gameID">
               <!-- Page Features -->
           <div class="row text-center">
               <div class="col-lg-3 col-md-6 mb-4" >
                   <a href= "/GameFill">
                       <div class="card" >
                               <img class="card" src="@card.gameImage" alt="Mountain View">

                       </div>
                   </a>

               </div>

           </div>

       </div>

       </div>
   }
        <!-- /.row -->
}

