@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Game-Codez.com</title>

            <!-- Bootstrap core CSS -->
        <link href="@routes.Assets.at("stylesheets/bootstrap-4.0.0-dist/css/bootstrap.css")" rel="stylesheet">

        <link href="@routes.Assets.at("stylesheets/bootstrap-4.0.0-dist/heroic-features.css")" rel="stylesheet">





    </head>

    <body>



            <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="DefaultHeader/nav">
            <div class="container" id="border">

                <a class="navbar-brand" href="/Homepage">Game-Codez.com</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/MembersPage">MembersPage
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/LoginPage ">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

       <section class="content">@content</section>



        <!-- Footer -->
        <footer class="py-5 bg-dark" id="DefaultFooter">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
            </div>
                <!-- /.container -->
        </footer>

            <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>

</html>
